<div class="panel panel-default">
    <a href="<%= url %>" target="_blank">
      <div class="panel-heading">
        <%= title %>
      </div>
      <div class="panel-body">
        <%= payment %><bn>
        <%= entries %><bn>
        <%= expires %>
      </div>
    </a>
  </div>